*{
	margin: 0px;
	padding: 0px;
}
.main{
	width: 100%;
	height: auto;
}




.top{
	position: absolute;
	width: 100%;
	height: 23rem;
	margin-top: 6rem;
	
}
.top h3{
	
	font-family: "微软雅黑";
	margin-top: -2.5rem;
	margin-left: 0.8rem;
}
.top .tou{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	margin-top: 0.8rem;
	margin-left: 0.8rem;
}
.top h5{
	/*position: absolute;*/
	color: black;
	margin-left: 4rem;
	margin-top: -3rem;
}
.top span{
	color: #333333;
	font-size: 0.7rem;
	margin-top: rem;
	margin-left: 4rem;
}
.body_top{
	width: 92%;
	height: auto;
	position: absolute;
	margin-top: 10rem;
	margin-left: 0.8rem;
}
.body_top p{
	font-size: 0.8rem;
	color: black;
}
.body_top span{
	
	font-size: 0.7rem;
	
}
.body_top_img{
	margin-top: 2rem;
	width: 100%;
	height: 15rem;
	margin-bottom: 2rem;
}
.body_zhong{
	width: 92%;
	height: rem;
	position: absolute;
	margin-top: 55rem;
	margin-left: 2.5rem;
}
.body_zhong p{
	font-size: 0.8rem;
	margin-top: 1.5rem;
	margin-left: 5rem;
	color: black;
}

.body_zhong .chun{
	color: red;
	margin-left: 5rem;
}
.body_zhong img{
	margin-top: 3rem;
	width: 100%;
	height: 15rem;
	margin-left: -1.5rem;
}
.body_zhong span{
	font-size: 0.8rem;
	margin-left: -1.5rem;
	margin-top: 1rem;
	position: absolute;
}
.body_zhong .chun1{
	color: red;
	margin-left: 5rem;
	margin-top: 10rem;
}
.body_zhong .spanq{
	font-size: 0.8rem;
	margin-top: 3rem;
}
.body_zhong .wait{
	margin-top: 8rem;
	margin-left: -1rem;
}
.body .cou{
	width: 100%;
	height: 13rem;
}

.body .author{
	width: 92%;
	height: 5rem;
	margin-top: 158rem;
	position: absolute;
	margin-left: 0.8rem;
	background-color: #E9E6E6;
	
}
.author .tou{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	margin-top: 0.8rem;
	margin-left: 0.8rem;
}
.body_zhong .word{
	margin-left: -2rem;
	font-size: 0.8rem;
}

.author h5{
	
	margin-left: 5rem;
	margin-top: -3rem;
	color: black;
}
.author span{
	font-size: 0.8rem;
	margin-left: 5rem;
	margin-top: -5rem;
}
.end{
	width: 100%;
	height: 3rem;
	background-color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	
}
.end .zan{
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 5.5rem;
	margin-top: 0.4rem;
	color: #747575;
	
}
.end .chat{
	width: 3rem;
	height: 3rem;
	margin-left: 14rem;
	margin-top: 0.3rem;
	color: #91969a;
}
.end .span1{
	position: absolute;
	font-size: 0.8rem;
	margin-left:-1.5rem;
	margin-top: 1.8rem;
}
.end .span{
	position: absolute;
	font-size: 0.8rem;
	margin-left:-1.5rem;
	margin-top: 1.8rem;
}
