#mengban{
	width: 100%;
	height: 110vh;
	position: fixed;
	background-color: #5a5c5d;
	z-index: 1000;
	opacity: 0.9;
	top: -1rem;
	display: none;
	
}
.fu{
	/*position: absolute;*/
	font-size: 1.5rem;
	color: red;
	bottom: 2rem;
	margin-left: 19rem;
	margin-top: 1rem;
}
.mengDiv1 {
	width: 100%;
	height: 4rem;
}


.meng_p1 {
	position: absolute;
	color: white;
	font-size: 0.8rem;
	left: 45%;
	top: 8.5rem;
	
}

.mengDiv2 {
	width: 100%;
	height: 4rem;
}


.meng_p2 {
	position: absolute;
	color: white;
	font-size: 0.8rem;
	left: 45%;
	top: 14rem;
	
}

.mengDiv3 {
	
	width: 100%;
	height: 4rem;
}



.meng_p3 {
	position: absolute;
	color: white;
	top: 19.5rem;
	font-size: 0.8rem;
	left: 45%;
}

.X{
	color: white !important;
	position: absolute;
	
	top: 24rem;
	left: 40%;
}
