.swiper-container img {
  width: 100%;
  height: 11.5rem;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
  font-size: 13.4px;
}
.mui-content > .mui-table-view:first-child {
  margin-top: -60px;
}
.mui-table-view.mui-grid-view {
  padding: 10px 10px 20px 0px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell > a:not(.mui-btn) {
  margin: -2px 0 0 -14px;
}
.mui-table-view {
  margin-top: -0.8rem !important;
}
.shop_class img {
  width: 50%;
}
/**
 * 中间点击许愿排行开始
 */
.body_click {
  width: 100%;
  height: 12rem;
  background-color: #EFCBB0;
}
.body_click .body_click_left {
  width: 45%;
  height: 11rem;
  background-color: white;
  float: left;
  margin-top: 0.5rem;
  margin-left: 0.7rem;
}
.body_click img {
  width: 60%;
  height: 5rem;
  margin-left: 20%;
}
.body_click .body_click_right {
  width: 45%;
  height: 11rem;
  background-color: white;
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.7rem;
}
.body_click .click_content {
  width: 60%;
  height: 1.7rem;
  background-color: #F19B46;
  margin-left: 20%;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}
.body_click .click_content p {
  color: white;
  text-align: center;
  line-height: 1.7rem;
}
.body_click .click_p1 {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #DE8245;
}
.body_click .click_p2 {
  text-align: center;
}
/**
 * 中间点击许愿排行结束
 */
/**
 * 会员折扣
 */
.member {
  width: 100%;
  height: 15rem;
  background-color: white;
  margin-top: 0.5rem;
}
.member #font_header {
  width: 30%;
  height: 2rem;
  margin: 0 auto;
}
.font_header_member {
  line-height: 3rem!important;
}
.member #font_header p {
  line-height: 2rem;
  text-align: center;
}
.member .all {
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
}
.member .all p {
  text-align: center;
  line-height: 2rem;
}
/*会员折扣中间轮播*/
.discount {
  margin-top: 1rem!important;
}
.mui-media-object {
  width: 100%;
  height: 4rem!important;
}
.swiper-slide_p1 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 5.2rem;
}
.swiper-slide_p2 {
  color: red;
}
.swiper-slide_span1 {
  text-decoration: line-through;
  color: gainsboro;
}
.zhuanti {
  width: 100%;
  background-color: white;
  text-align: center;
  line-height: 1.3rem;
  margin-top: 1rem;
}
.zhuanti #font_header {
  width: 30%;
  height: 2rem;
  margin: 0 auto;
}
.zhuanti #font_header p {
  line-height: 3rem;
  text-align: center;
}
.zhuanti .img {
  width: 90%;
  height: 10.5rem;
}
.zhuantiHr {
  width: 90%;
  margin-left: 5%;
  border-top: none;
  margin-top: 1rem;
}
p {
  margin-bottom: 0;
}
.mid_img {
  margin-top: 1rem!important;
}
